{% extends "base_anonymous.html" %}
{% block full_content %}
<nav class="navbar navbar-expand-lg bg-primary-subtle">
    <div class="container">
        <a class="navbar-brand" href="#">Jobwatch</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a href="/?show=matched" class="nav-link">Matched</a>
            </li>
            <li class="nav-item">
                <a href="/?show=unmatched" class="nav-link">Unmatched</a>
            </li>
            <li class="nav-item">
                <a href="/?show=saved" class="nav-link">Bookmarked</a>
            </li>
            <li class="nav-item">
                <a href="/?show=all" class="nav-link">All</a>
            </li>
        </ul>
        <a href="/settings" class="nav-link">Settings</a>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
{% endblock %}
